<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mr_mir.uiuxdesign">

    <application>
        <activity android:name=".activity.CustomBubbleBottomTabActivity"></activity>
        <activity
            android:name=".activity.MainUIActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>